<%= render partial: "shared/nav-bar" %>

<h1>Profile</h1>
<h3><%= "#{@player.name}" %>'s Page</h3>
<h4>Username: <%= "#{@player.username}" %></h4>
<ul>
  <li>Total Games Played: <%=  %></li>
  <li>Total Wins: <%=  %></li>
  <li>Decks: <%=  %></li>
  <li>Pod's Joined: <%=  %></li>
</ul>